<!DOCTYPE html>
<html lang="en">

<%- include("./partials/head.ejs") %>

<body>
    <%- include("./partials/header") %>
          <form class="row">
            <div class="row">
                <div class="column">
                    <label for="start_date">Start Date</label></br>
                    <input type="text" placeholder="Please Enter Your Start Date!" id="start_date" name="start_date"></br>
                </div>
                <div class="column">
                    <label for="End_date">End Date</label></br>
                    <input type="text" placeholder="Please Enter Your End Date!" id="end_date" name="end_date"></br>
                    <input id="submit_Dates" type="submit" value="Submit">
                </div>
            </div>
        </form>
    </br>
        <div>
            <!-- <h1 id="count-down"></h1> -->
        </div>
    
            <table>
                <tr>
                    <th>
                        Event Name
                    </th>
                    <th>
                        Event Description
                    </th>
                    <th>
                        Days Until Event
                    </th>
                </tr>
                <tr>
                        <td>000</td>
                        <td>000</td>
                        <td id='count-down'>000</td>                       
                </tr>
            </table>
    
    </main>
    <%- include("./partials/footer") %>
</body>
    <script src="/index.js"></script>
</html>
