body {
  text-align: center;
  color:purple;
}
head {
    text-align: center;
}
footer {
    text-align: center;
    align-content: flex-end;
    margin-top: auto;
    display: flex;
    flex-direction: column;
}
table, td, th, tr {
  border: 1px solid black;
  margin: 10px;
  padding: 2px solid black;
}
.row {
  display: flex;
}

.column {
  flex: 50%;
}

#submit_Dates {
    text-align: center;
}
